.hotelList-container {
  background-color: lightblue;
}

.container {
  border: 1px solid lightblue;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "navbar"
    "search"
    "filters"
    "hotels-list";
}
@media (min-width: 700px) {
  .container {
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
      "navbar navbar"
      "search search"
      "filters hotels-list";
  }
}

.navbar {
  grid-area: navbar;
  padding-left: 0px;
  padding-right: 0px;
}

.search {
  border: 1px solid lightblue;
  grid-area: search;
}

.filters {
  border: 1px solid lightblue;
  grid-area: filters;
}

.hotels-list {
  border: 1px solid lightblue;
  grid-area: hotels-list;
}
