.detail-container {
  border: 1px solid lightblue;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "detail-navbar"
    "detail-sidebar"
    "detail-content";
}
@media (min-width: 700px) {
  .detail-container {
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
      "detail-navbar detail-navbar"
      "detail-sidebar detail-content";
  }
}

.detail-navbar {
  border: 1px solid lightblue;
  grid-area: detail-navbar;
}

.detail-sidebar {
  border: 1px solid lightblue;
  grid-area: detail-sidebar;
}

.detail-content {
  border: 1px solid lightblue;
  grid-area: detail-content;
}

.bs-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 1200px) {
  .bs-container {
    max-width: 1140px;
  }
}

.detailpage-container {
  background-color: lightblue;
}
